{% extends "blog/base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-dark border-bottom body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Add User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
        <!-- Main content area -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h2 class="text">User Information</h2>
      <form action="" method="post">
        <div class="form-group">
          <input type="text" placeholder="Enter the Username" id="">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}